.footer {
    padding: 1rem;
    margin-top: auto;
    background-color: white;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.footer__content-text-link {
    text-decoration: none;
    color: inherit;
}

.footer__content-text-link,
.footer__content-text {
    margin: 0;
}

.footer__content-text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

@media screen and (min-width: 35rem) {
    .footer__content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 80rem) {
    .footer__content {
        max-width: 80rem;
    }
}
